{% extends "index_core.html" %}
{% block content %}


<link href="https://unpkg.com/tabulator-tables@4.0.5/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.0.5/dist/js/tabulator.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>


<div class="container-fluid mt-5">
        <div class="animated fadeIn">
            <div class="row mb-2">
                <div class="col-md-12 text-center">       
                    <h2>Glossary</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                    <li><b>VIOLENT CRIMES: </b><br/>
                        <br/>
                        <ul>
                            <li><b>Criminal Homicide: </b>
                            The killing of one human being by another defined into 3 categories: A.) Murder <br/>
                            and Non-negligent Manslaughter - The willful (non-negligent) killing of one human being by another. <br/>
                            B.) Negligent Manslaughter - The killing of another person through negligence. C.) Justifiable <br/>
                            Homicide - The killing of a perpetrator of a serious criminal offense by a peace officer in the line of duty; <br/>
                            or the killing, during the commission of a serious criminal offense, of the perpetrator by a private individual.</li><br/>

                            <li><b>Forcible Rape: </b>
                            The carnal knowledge of a person, forcibly and/or against that person’s will; or not forcibly or <br/>
                            against the person’s will where the victim is incapable of giving consent because of his/her temporary <br/>
                            or permanent mental or physical incapacity (or because of his/her youth).</li><br/>
                            
                            <li><b>Robbery: </b>
                            The taking or attempting to take anything of value from the care, custody, or control of a person <br/>
                            or persons by force or threat of force or violence and/or by putting the victim in fear.</li><br/>
                        
                            <li><b>Aggravated Assault: </b>
                            An unlawful attack by one person upon another for the purpose of inflicting severe <br/>
                            or aggravated bodily injury. This type of assault usually is accompanied by the use of a weapon or <br/>
                            by means likely to produce death or great bodily harm. (It is not necessary that injury result from <br/>
                            an aggravated assault when a gun, knife, or other weapon is used which could and probably would <br/>
                            result in serious personal injury if the crime were successfully completed.)</li><br/>

                            </ul>
                    <li><b>PROPERTY CRIMES: </b><br/>
                        <br/>
                        <ul>
                            <li><b>Burglary: </b>
                            The unlawful entry of a structure to commit a felony or a theft. For reporting purposes this definition <br/>
                            includes: unlawful entry with intent to commit a larceny or felony; breaking and entering with intent to <br/>
                            commit a larceny; housebreaking; safecracking; and all attempts to commit any of the afore-mentioned.</li><br/>
                                                            
                            <li><b>Motor Vehicle Theft: </b>
                            The theft or attempted theft of a motor vehicle. (Classified as motor vehicle theft in <br/>
                            all cases where automobiles are taken by persons not having lawful access even though the vehicles are later <br/>
                            abandoned–including joyriding.)</li><br/>
                             
                            <li><b>Burglary/Theft From Vehicle (BTFV): </b>
                            Categorized under Larceny/Theft Offenses, BTVF is an acronym for Burglary or Theft from Motor Vehicle.</li><br/>
                            
                            <li><b>Personal/Other Theft: </b>
                            The unlawful taking, carrying, leading, or riding away of property from the possession, <br/>
                            or constructive possession, of another person. This category includes pocket-picking, purse-snatching, <br/>
                            shoplifting, theft from building, all other larceny.</li><br/>
                            
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
            <!-- <div class="row mt-4">
                <div class="col-md-12 text-center">       
                    <h2>Project 3</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <ul>
                    <li>Ben Fraund</li>
                    <li>Dimas Soeprapto</li>
                    <li>Jason Wu</li>
                  </ul>
                </div>
            </div> -->

        </div>
</div>
{% endblock %}