{% extends "index_core.html" %}

{% block content %}
<!-- <!DOCTYPE html>
<meta charset="utf-8"> -->
<link rel="stylesheet" type="text/css" href="../static/css/model.css">
<body>
<h1 style="align-content: center"  id="Title"><center>Deep Neural Network Model</center></h1>
<h2 style="align-content: center"  id="subTitle"><center>Overall 84% Accuracy on 8 Crime Categories</center></h2>
<div class="container-fluid mt-5" style="align-content: center" id="stack"></div>


<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.7.0/d3-legend.min.js"></script>
<script src="../static/js/model.js"></script>

</body>

{% endblock %}