{% extends "index_core.html" %}
{% block content %}


<link href="https://unpkg.com/tabulator-tables@4.0.5/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.0.5/dist/js/tabulator.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>


<div class="container-fluid mt-5">
        <div class="animated fadeIn">
            <div class="row mb-2">
                <div class="col-md-12 text-center">       
                    <h2>Glossary</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                    <li><b>MO Codes: </b><br/>
                        <br/>
                        <ul>
                            <li>Definition: Codes used to categorize <i> Modus operandi </i>(Latin for “operating method”) <br/>
                                <br/>
                                In criminology, distinct pattern or manner of working that comes to be associated with a particular criminal. <br/>
                                Criminologists have observed that, whatever his specialty—burglary, auto theft, or embezzling—the professional<br/>
                                criminal is very likely to adhere to his particular way of operating. <br/>
                                <br/>
                                If, for example, a burglar begins his career by entering houses from the roof, he will, in all probability, <br/>
                                continue this method for as long as he is able to work. Some burglars become so attached to their modus operandi <br/>
                                that they burglarize the same places or people again and again.<br/>
                                <br/>
                                - <a href="https://www.britannica.com/topic/modus-operandi">Britannica </a><br/>
                                <br/>
                            <li>List of MO Codes:</li>
                            <br/>
                            <ul>
                                <li> 100: Suspect Impersonate</li>
                                <li> 101: Aid victim</li>
                                <li> 102: Blind</li>
                                <li> 103: Crippled</li>
                                <li> 104: Customer</li>
                                <li> 105: Delivery</li>
                                <li> 106: Doctor</li>
                                <li> 107: God</li>
                                <li> 108: Infirm</li>
                                <li> 109: Inspector</li>
                                <li> 110: Involved in traffic/accident</li>
                                <li> 112: Police</li>
                                <li> 113: Renting</li>
                                <li> 114: Repair Person</li>
                                <li> 115: Returning stolen property</li>
                                <li> 116: Satan</li>
                                <li> 117: Salesman</li>
                                <li> 118: Seeking someone</li>
                                <li> 119: Sent by owner</li>
                                <li> 120: Social Security/Medicare</li>
                                <li> 121: DWP/Gas Company/Utility worker</li>
                                <li> 122: Contractor</li>
                                <li> 123: Gardener/Tree Trimmer</li>
                                <li> 200: Suspect wore disguise</li>
                                <li> 201: Bag</li>
                                <li> 202: Cap/hat</li>
                                <li> 203: Cloth (with eyeholes)</li>
                                <li> 204: Clothes of opposite sex</li>
                                <li> 205: Earring</li>
                                <li> 206: Gloves</li>
                                <li> 207: Handkerchief</li>
                                <li> 208: Halloween mask</li>
                                <li> 209: Mask</li>
                                <li> 210: Make up (males only)</li>
                                <li> 211: Shoes</li>
                                <li> 212: Nude/partly nude</li>
                                <li> 213: Ski mask</li>
                                <li> 214: Stocking</li>
                                <li> 215: Unusual clothes</li>
                                <li> 216: Suspect wore hood/hoodie</li>
                                <li> 217: Uniform</li>
                                <li> 218: Wig</li>
                                <li> 219: Mustache-Fake</li>
                                <li> 220: Suspect wore motorcycle helmet</li>
                                <li> 301: Escaped on (used) transit train</li>
                                <li> 302: Aimed gun</li>
                                <li> 303: Ambushed</li>
                                <li> 304: Ate/drank on premises</li>
                                <li> 305: Attacks from rear</li>
                                <li> 306: Crime on upper floor</li>
                                <li> 307: Defecated/urinated</li>
                                <li> 308: Demands jewelry</li>
                                <li> 309: Drive-by shooting</li>
                                <li> 310: Got victim to withdraw savings</li>
                                <li> 311: Graffiti</li>
                                <li> 312: Gun in waistband</li>
                                <li> 313: Hid in building</li>
                                <li> 314: Hot Prowl</li>
                                <li> 315: Jumped counter/goes behind counter</li>
                                <li> 316: Makes victim give money</li>
                                <li> 317: Pillowcase/suitcase</li>
                                <li> 318: Prepared exit</li>
                                <li> 319: Profanity Used</li>
                                <li> 320: Quiet polite</li>
                                <li> 321: Ransacked</li>
                                <li> 322: Smashed display case</li>
                                <li> 323: Smoked on premises</li>
                                <li> 324: Takes money from register</li>
                                <li> 325: Took merchandise</li>
                                <li> 326: Used driver</li>
                                <li> 327: Used lookout</li>
                                <li> 328: Used toilet</li>
                                <li> 329: Vandalized</li>
                                <li> 330: Victims vehicle taken</li>
                                <li> 331: Mailbox Bombing</li>
                                <li> 332: Mailbox Vandalism</li>
                                <li> 333: Used hand held radios</li>
                                <li> 334: Brandishes weapon</li>
                                <li> 335: Cases location</li>
                                <li> 336: Chain snatch</li>
                                <li> 337: Demands money</li>
                                <li> 338: Disables Telephone</li>
                                <li> 339: Disables video camera</li>
                                <li> 340: Suspect follows victim/follows victim home</li>
                                <li> 341: Makes vict lie down</li>
                                <li> 342: Multi-susps overwhelm</li>
                                <li> 343: Orders vict to rear room</li>
                                <li> 344: Removes vict property</li>
                                <li> 345: Riding bike</li>
                                <li> 346: Snatch property and runs</li>
                                <li> 347: Stalks vict</li>
                                <li> 348: Takeover other</li>
                                <li> 349: Takes mail</li>
                                <li> 350: Concealed victim's body</li>
                                <li> 351: Disabled Security</li>
                                <li> 352: Took Victim's clothing or jewelry</li>
                                <li> 353: Weapon Concealed</li>
                                <li> 354: Suspect takes car keys</li>
                                <li> 355: Demanded property other than money</li>
                                <li> 356: Suspect spits on victim</li>
                                <li> 357: Cuts or breaks purse strap</li>
                                <li> 358: Forces Entry</li>
                                <li> 359: Made unusual statement</li>
                                <li> 360: Suspect is Other Family Member</li>
                                <li> 361: Suspect is neighbor</li>
                                <li> 362: Suspect attempts to carry victim away</li>
                                <li> 363: Home invasion</li>
                                <li> 364: Suspect is babysitter</li>
                                <li> 365: Takeover robbery</li>
                                <li> 366: Ordered vict to open safe</li>
                                <li> 367: Was Transit Patrol</li>
                                <li> 368: Suspect speaks foreign language</li>
                                <li> 369: Suspect speaks spanish</li>
                                <li> 370: Frisks victim/pats down victim/searches victim</li>
                                <li> 371: Gang affiliation questions asked/made gang statement</li>
                                <li> 372: Photographed victim/took pictures of victim</li>
                                <li> 373: Handicapped/in wheelchair</li>
                                <li> 374: Gang signs/threw gang signs using hands</li>
                                <li> 375: Removes cash register</li>
                                <li> 376: Makes victim kneel</li>
                                <li> 377: Takes vict's identification/driver license</li>
                                <li> 378: Brings own bag</li>
                                <li> 379: Turns off lights/electricity</li>
                                <li> 380: Distracts Victim</li>
                                <li> 381: Suspect apologizes</li>
                                <li> 382: Removed money/property from safe</li>
                                <li> 383: Suspect entered during open house/party/estate/yard sale</li>
                                <li> 384: Suspect removed drugs from location</li>
                                <li> 385: Suspect removed parts from vehicle</li>
                                <li> 386: Suspect removed property from trunk of vehicle</li>
                                <li> 387: Weapon (other than gun) in waistband</li>
                                <li> 388: Suspect points laser at plane/helicopter</li>
                                <li> 389: Knock-knock</li>
                                <li> 390: Purse snatch</li>
                                <li> 391: Used demand note</li>
                                <li> 392: False Emergency Reporting</li>
                                <li> 393: 911 Abuse</li>
                                <li> 394: Susp takes UPS, Fedex, USPS packages</li>
                                <li> 395: Murder/Suicide</li>
                                <li> 396: Used paper plates to disguise license number</li>
                                <li> 397: Cut lock (to bicycle, gate, etc.</li>
                                <li> 398: Roof access (remove A/C, equip, etc.)</li>
                                <li> 399: Vehicle to Vehicle shooting</li>
                                <li> 400: Force used</li>
                                <li> 401: Bit</li>
                                <li> 402: Blindfolded</li>
                                <li> 403: Bomb Threat, Bomb found</li>
                                <li> 404: Bomb Threat, no bomb</li>
                                <li> 405: Bound</li>
                                <li> 406: Brutal Assault</li>
                                <li> 407: Burned Victim</li>
                                <li> 408: Choked/uses choke hold</li>
                                <li> 409: Cover mouth w/hands</li>
                                <li> 410: Covered victim's face</li>
                                <li> 411: Cut/stabbed</li>
                                <li> 412: Disfigured</li>
                                <li> 413: Drugged</li>
                                <li> 414: Gagged</li>
                                <li> 415: Handcuffed/Metal</li>
                                <li> 416: Hit-Hit w/ weapon</li>
                                <li> 417: Kicked</li>
                                <li> 418: Kidnapped</li>
                                <li> 419: Pulled victims hair</li>
                                <li> 420: Searched</li>
                                <li> 421: Threaten to kill</li>
                                <li> 422: Threaten Victims family</li>
                                <li> 423: Tied victim to object</li>
                                <li> 424: Tore clothes off victim</li>
                                <li> 425: Tortured</li>
                                <li> 426: Twisted arm</li>
                                <li> 427: Whipped</li>
                                <li> 428: Dismembered</li>
                                <li> 429: Vict knocked to ground</li>
                                <li> 430: Vict shot</li>
                                <li> 431: Sprayed with chemical</li>
                                <li> 432: Intimidation</li>
                                <li> 433: Makes victim kneel</li>
                                <li> 434: Bed Sheets/Linens</li>
                                <li> 435: Chain</li>
                                <li> 436: Clothing</li>
                                <li> 437: Flexcuffs/Plastic Tie</li>
                                <li> 438: Rope/Cordage</li>
                                <li> 439: Tape/Electrical etc...</li>
                                <li> 440: Telephone/Electric Cord</li>
                                <li> 441: Wire</li>
                                <li> 442: Active Shooter/Armed person who has used deadly physical force on other persons & aggressively continues while having access to more victim's</li>
                                <li> 443: Threaten to harm victim (other than kill)</li>
                                <li> 444: Pushed</li>
                                <li> 445: Suspect swung weapon</li>
                                <li> 446: Suspect swung fist</li>
                                <li> 447: Suspect threw object at victim</li>
                                <li> 448: Grabbed</li>
                                <li> 449: Put a weapon to body</li>
                                <li> 450: Suspect shot at victim (no hits)</li>
                                <li> 500: Sex related acts</li>
                                <li> 501: Susp ejaculated outside victim</li>
                                <li> 502: Fecal Fetish</li>
                                <li> 503: Fondle victim</li>
                                <li> 504: Forced to disrobe</li>
                                <li> 505: Forced to fondle suspect</li>
                                <li> 506: Forced to masturbate suspect</li>
                                <li> 507: Forced to orally copulate suspect</li>
                                <li> 508: Hit victim prior, during, after act</li>
                                <li> 509: Hugged</li>
                                <li> 510: Kissed victims body/face</li>
                                <li> 511: Masochism/bondage</li>
                                <li> 512: Orally copulated victim</li>
                                <li> 513: Photographed victim</li>
                                <li> 514: Pornography</li>
                                <li> 515: Put hand, finger or object into vagina</li>
                                <li> 516: Reached climax/ejaculated</li>
                                <li> 517: Sadism/Sexual gratification obtained by infliction of physical or mental pain on others</li>
                                <li> 518: Simulated intercourse</li>
                                <li> 519: Sodomy</li>
                                <li> 520: Solicited/offered immoral act</li>
                                <li> 521: Tongue or mouth to anus</li>
                                <li> 522: Touched</li>
                                <li> 523: Unable to get erection</li>
                                <li> 524: Underwear Fetish</li>
                                <li> 525: Urinated</li>
                                <li> 526: Utilized Condom</li>
                                <li> 527: Actual Intercourse</li>
                                <li> 528: Masturbate</li>
                                <li> 529: Indecent Exposure</li>
                                <li> 530: Used lubricant</li>
                                <li> 531: Suspect made sexually suggestive remarks</li>
                                <li> 532: Suspect undressed victim</li>
                                <li> 533: Consensual Sex</li>
                                <li> 534: Suspect in vehicle nude/partially nude</li>
                                <li> 535: Suspect asks minor's name</li>
                                <li> 536: Suspect removes own clothing</li>
                                <li> 537: Suspect removes victim's clothing</li>
                                <li> 538: Suspect fondles self</li>
                                <li> 539: Suspect puts hand in victim's rectum</li>
                                <li> 540: Suspect puts finger(s) in victim's rectum</li>
                                <li> 541: Suspect puts object(s) in victim's rectum</li>
                                <li> 542: Orders victim to undress</li>
                                <li> 543: Orders victim to fondle suspect</li>
                                <li> 544: Orders victim to fondle self</li>
                                <li> 545: Male Victim of sexual assault</li>
                                <li> 546: Susp instructs vict to make certain statements</li>
                                <li> 547: Suspect force vict to bathe/clean/wipe</li>
                                <li> 548: Suspect gives victim douche/enema</li>
                                <li> 549: Suspect ejaculates in victims mouth</li>
                                <li> 550: Suspect licks victim</li>
                                <li> 551: Suspect touches victim genitalia/genitals over clothing</li>
                                <li> 552: Suspect is Victim's Father</li>
                                <li> 553: Suspect is Victim's Mother</li>
                                <li> 554: Suspect is Victim's Brother</li>
                                <li> 555: Suspect is Victim's Sister</li>
                                <li> 556: Suspect is Victim's Step-Father</li>
                                <li> 557: Suspect is Victim's Step-Mother</li>
                                <li> 558: Suspect is Victim's Uncle</li>
                                <li> 559: Suspect is Victim's Aunt</li>
                                <li> 560: Suspect is Victim's Guardian</li>
                                <li> 561: Suspect is Victim's Son</li>
                                <li> 562: Suspect is Victim's Daughter</li>
                                <li> 563: Fetish, Other</li>
                                <li> 601: Business</li>
                                <li> 602: Family</li>
                                <li> 603: Landlord/Tenant/Neighbor</li>
                                <li> 604: Reproductive Health Services/Facilities</li>
                                <li> 605: Traffic Accident/Traffic related incident</li>
                                <li> 701: THEFT: Trick or Device</li>
                                <li> 800: BUNCO</li>
                                <li> 901: Organized Crime</li>
                                <li> 902: Political Activity</li>
                                <li> 903: Hatred/Prejudice</li>
                                <li> 904: Strike/Labor Troubles</li>
                                <li> 905: Terrorist Group</li>
                                <li> 906: Gangs</li>
                                <li> 907: Narcotics (Buy-Sell-Rip)</li>
                                <li> 908: Prostitution</li>
                                <li> 909: Ritual/Occult</li>
                                <li> 910: Public Transit (Metrolink/Train Station,Metro Rail Red,Line Subway Station, Metro Rail Blue Line Station,adjacent transit parking lots, tracks or tunnels MTA(RTD), and other municipal lines.</li>
                                <li> 911: Revenge</li>
                                <li> 912: Insurance</li>
                                <li> 913: Victim knew Suspect</li>
                                <li> 914: Other Felony</li>
                                <li> 915: Parolee</li>
                                <li> 916: Forced theft of vehicle (Car-Jacking)</li>
                                <li> 917: Victim's Employment</li>
                                <li> 918: Career Criminal</li>
                                <li> 919: Road Rage</li>
                                <li> 920: Homeland Security</li>
                                <li> 921: Hate Incident</li>
                                <li> 922: ATM Theft with PIN number</li>
                                <li> 923: Stolen/Forged Checks (Personal Checks)</li>
                                <li> 924: Stolen/Forged Checks (Business Checks)</li>
                                <li> 925: Stolen/Forged Checks (Cashier's Checks)</li>
                                <li> 926: Forged or Telephonic Prescription</li>
                                <li> 927: Fraudulent or forged school loan</li>
                                <li> 928: Forged or Fraudulent credit applications</li>
                                <li> 929: Unauthorized use of victim's bank account information</li>
                                <li> 930: Unauthorized use of victim's credit/debit card or number</li>
                                <li> 931: Counterfeit or forged real estate documents</li>
                                <li> 932: Suspect uses victim's identity in reporting a traffic collision</li>
                                <li> 933: Suspect uses victim's identity when arrested</li>
                                <li> 934: Suspect uses victim's identity when receiving a citation</li>
                                <li> 935: Misc. Stolen/Forged documents</li>
                                <li> 936: Dog Fighting</li>
                                <li> 937: Cock Fighting</li>
                                <li> 938: Animal Neglect</li>
                                <li> 939: Animal Hoarding</li>
                                <li> 940: Met online/Chat Room/on Party Line</li>
                                <li> 941: Non-Revocable Parole (NRP)</li>
                                <li> 942: Party/Flier party/Rave Party</li>
                                <li> 943: Human Trafficking</li>
                                <li> 944: Bait Operation</li>
                                <li> 945: Estes Robbery</li>
                                <li> 946: Gang Feud</li>
                                <li> 1000: Suspects offers/solicits</li>
                                <li> 1001: Aid for vehicle</li>
                                <li> 1002: Amusement</li>
                                <li> 1003: appraise</li>
                                <li> 1004: Assistant</li>
                                <li> 1005: Audition</li>
                                <li> 1006: Bless</li>
                                <li> 1007: Candy</li>
                                <li> 1008: Cigarette</li>
                                <li> 1009: Directions</li>
                                <li> 1010: Drink (not liquor)</li>
                                <li> 1011: Employment</li>
                                <li> 1012: Find a job</li>
                                <li> 1013: Food</li>
                                <li> 1014: Game</li>
                                <li> 1015: Gift</li>
                                <li> 1016: Hold for safekeeping</li>
                                <li> 1017: Information</li>
                                <li> 1018: Liquor</li>
                                <li> 1019: Money</li>
                                <li> 1020: Narcotics</li>
                                <li> 1021: Repair</li>
                                <li> 1022: Ride</li>
                                <li> 1023: Subscriptions</li>
                                <li> 1024: Teach</li>
                                <li> 1025: Train</li>
                                <li> 1026: Use the phone or toilet</li>
                                <li> 1027: Change</li>
                                <li> 1028: Suspect solicits time of day</li>
                                <li> 1100: Shots Fired</li>
                                <li> 1101: Shots Fired (Animal) - Animal Services</li>
                                <li> 1201: Absent-advertised in paper</li>
                                <li> 1202: Aged (60 & over) or blind/crippled/unable to care for self</li>
                                <li> 1203: Victim of crime past 12 months</li>
                                <li> 1204: Moving</li>
                                <li> 1205: On Vacation/Tourist</li>
                                <li> 1206: Under influence drugs/liquor</li>
                                <li> 1207: Hitchhiker</li>
                                <li> 1208: Illegal Alien</li>
                                <li> 1209: Salesman, Jewelry</li>
                                <li> 1210: Professional (doctor, Lawyer, etc.)</li>
                                <li> 1211: Public Official</li>
                                <li> 1212: LA Police Officer</li>
                                <li> 1213: LA Fireman</li>
                                <li> 1214: Banking, ATM</li>
                                <li> 1215: Prostitute</li>
                                <li> 1216: Sales</li>
                                <li> 1217: Teenager(Use if victim's age is unknown)</li>
                                <li> 1218: Victim was Homeless/Transient</li>
                                <li> 1219: Nude</li>
                                <li> 1220: Partially Nude</li>
                                <li> 1221: Missing Clothing/Jewelry</li>
                                <li> 1222: Homosexual/Gay</li>
                                <li> 1223: Riding bike</li>
                                <li> 1224: Drive-through (not merchant)</li>
                                <li> 1225: Stop sign/light</li>
                                <li> 1226: Catering Truck Operator</li>
                                <li> 1227: Delivery person</li>
                                <li> 1228: Leaving Business Area</li>
                                <li> 1229: Making bank drop</li>
                                <li> 1230: Postal employee</li>
                                <li> 1231: Taxi Driver</li>
                                <li> 1232: Bank, Arriving at</li>
                                <li> 1233: Bank, Leaving</li>
                                <li> 1234: Bar Customer</li>
                                <li> 1235: Bisexual/sexually oriented towards both sexes</li>
                                <li> 1236: Clerk/Employer/Owner</li>
                                <li> 1237: Customer</li>
                                <li> 1238: Handicapped</li>
                                <li> 1239: Transgender</li>
                                <li> 1240: Vehicle occupant/Passenger</li>
                                <li> 1241: Spouse</li>
                                <li> 1242: Parent</li>
                                <li> 1243: Co-habitants</li>
                                <li> 1244: Victim was forced into business</li>
                                <li> 1245: Victim was forced into residence</li>
                                <li> 1247: Opening business</li>
                                <li> 1248: Closing business</li>
                                <li> 1251: Victim was a student</li>
                                <li> 1252: Victim was a street vendor</li>
                                <li> 1253: Bus Driver</li>
                                <li> 1254: Train Operator</li>
                                <li> 1255: Followed Transit System</li>
                                <li> 1256: Patron</li>
                                <li> 1257: Victim is Newborn-5 years old</li>
                                <li> 1258: Victim is 6 years old thru 13 years old</li>
                                <li> 1259: Victim is 14 years old thru 17 years old</li>
                                <li> 1260: Deaf/Hearing Impaired</li>
                                <li> 1261: Mentally Challenged/Retarded/Intellectually Slow</li>
                                <li> 1262: Raped while unconscious</li>
                                <li> 1263: Agricultural Target</li>
                                <li> 1264: Pipeline</li>
                                <li> 1265: Mailbox</li>
                                <li> 1266: Victim was security guard</li>
                                <li> 1267: Home under construction</li>
                                <li> 1268: Victim was 5150/Mental Illness</li>
                                <li> 1269: Victim was armored car driver</li>
                                <li> 1270: Victim was gang member</li>
                                <li> 1271: Victim was Law Enforcement (not LAPD)</li>
                                <li> 1272: Victim as at/leaving medical marijuana clinic</li>
                                <li> 1273: Home was being fumigated</li>
                                <li> 1274: Victim was Inmate/Incarcerated</li>
                                <li> 1275: Vacant Residence/Building</li>
                                <li> 1276: Pregnant</li>
                                <li> 1277: Gardner</li>
                                <li> 1278: Victim was Uber/Lyft driver</li>
                                <li> 1279: Victim was Foster child</li>
                                <li> 1280: Victim was Foster parent</li>
                                <li> 1281: Victim was Pistol-whipped</li>
                                <li> 1300: Vehicle involved</li>
                                <li> 1301: Forced victim vehicle to curb</li>
                                <li> 1302: Suspect forced way into victim's vehicle</li>
                                <li> 1303: Hid in rear seat</li>
                                <li> 1304: Stopped victim vehicle by flagging down, forcing T/A, etc.</li>
                                <li> 1305: Victim forced into vehicle</li>
                                <li> 1306: Victim parking, garaging vehicle</li>
                                <li> 1307: Breaks window</li>
                                <li> 1308: Drives by and snatches property</li>
                                <li> 1309: Susp uses vehicle</li>
                                <li> 1310: Victim in vehicle</li>
                                <li> 1311: Victim removed from vehicle</li>
                                <li> 1312: Suspect follows victim in vehicle</li>
                                <li> 1313: Suspect exits vehicle and attacks pedestrian</li>
                                <li> 1314: Victim loading vehicle</li>
                                <li> 1315: Victim unloading vehicle</li>
                                <li> 1316: Victim entering their vehicle</li>
                                <li> 1317: Victim exiting their vehicle</li>
                                <li> 1318: Suspect follows victim home</li>
                                <li> 1401: Blood Stains</li>
                                <li> 1402: Evidence Booked (any crime)</li>
                                <li> 1403: Fingerprints</li>
                                <li> 1404: Footprints</li>
                                <li> 1405: Left Note</li>
                                <li> 1406: Tool Marks</li>
                                <li> 1407: Bullets/Casings</li>
                                <li> 1408: Bite Marks</li>
                                <li> 1409: Clothes</li>
                                <li> 1410: Gun Shot Residue</li>
                                <li> 1411: Hair</li>
                                <li> 1412: Jewelry</li>
                                <li> 1413: Paint</li>
                                <li> 1414: Photographs</li>
                                <li> 1415: Rape Kit</li>
                                <li> 1416: Saliva</li>
                                <li> 1417: Semen</li>
                                <li> 1418: Skeleton/Bones</li>
                                <li> 1419: Firearm booked as evidence</li>
                                <li> 1420: Video surveillance booked/available</li>
                                <li> 1501: Other MO (see rpt)</li>
                                <li> 1601: Bodily Force</li>
                                <li> 1602: Cutting Tool</li>
                                <li> 1603: Knob Twist</li>
                                <li> 1604: Lock Box</li>
                                <li> 1605: Lock slip/key/pick</li>
                                <li> 1606: Open/unlocked</li>
                                <li> 1607: Pried</li>
                                <li> 1608: Removed</li>
                                <li> 1609: Smashed</li>
                                <li> 1610: Tunneled</li>
                                <li> 1611: Shaved Key</li>
                                <li> 1612: Punched/Pulled Door Lock</li>
                                <li> 1701: Elder Abuse/Physical</li>
                                <li> 1702: Elder Abuse/Financial</li>
                                <li> 1801: Susp is/was mother's boyfriend</li>
                                <li> 1802: Susp is/was victim's co-worker</li>
                                <li> 1803: Susp is/was victim's employee</li>
                                <li> 1804: Susp is/was victim's employer</li>
                                <li> 1805: Susp is/was fellow gang member</li>
                                <li> 1806: Susp is/was father's girlfriend</li>
                                <li> 1807: Susp is/was priest/pastor</li>
                                <li> 1808: Susp is/was other religious confidant</li>
                                <li> 1809: Susp is/was rival gang member</li>
                                <li> 1810: Susp is/was roommate</li>
                                <li> 1811: Susp is/was victim's teacher/coach</li>
                                <li> 1812: Susp is/was foster parent/sibling</li>
                                <li> 1813: Susp is/was current/former spouse/co-habitant</li>
                                <li> 1814: Susp is/was current/former boyfriend/girlfriend</li>
                                <li> 1815: Susp was student</li>
                                <li> 1816: Suspect is/was known gang member</li>
                                <li> 1817: Acquaintance</li>
                                <li> 1818: Caretaker/care-giver/nanny</li>
                                <li> 1819: Common-law Spouse</li>
                                <li> 1820: Friend</li>
                                <li> 1821: Spouse</li>
                                <li> 1822: Stranger</li>
                                <li> 1823: Brief encounter/Date</li>
                                <li> 1824: Classmate</li>
                                <li> 1900: Auction Fraud/eBay/cragslist,etc. (Internet based theft)</li>
                                <li> 1901: Child Pornography/In possession of/Via computer</li>
                                <li> 1902: Credit Card Fraud/Theft of services via internet</li>
                                <li> 1903: Cyberstalking (Stalking using internet to commit the crime)</li>
                                <li> 1904: Denial of computer services</li>
                                <li> 1905: Destruction of computer data</li>
                                <li> 1906: Harrassing E-Mail/Text Message/Other Electronic Communications</li>
                                <li> 1907: Hate Crime materials/printouts/e-mails</li>
                                <li> 1908: Identity Theft via computer</li>
                                <li> 1909: Introduction of virus or contaminants into computer system/program</li>
                                <li> 1910: Minor solicited for sex via internet/Known minor</li>
                                <li> 1911: Theft of computer data</li>
                                <li> 1912: Threatening E-mail/Text Messages</li>
                                <li> 1913: Suspect meets victim on internet/chatroom</li>
                                <li> 1914: Unauthorized access to computer system</li>
                                <li> 1915: Internet Extortion</li>
                                <li> 1916: Victim paid by wire transfer</li>
                                <li> 2000: Domestic violence</li>
                                <li> 2001: Suspect on drugs</li>
                                <li> 2002: Suspect intoxicated/drunk</li>
                                <li> 2003: Suspect 5150/mentally challenged or disturbed</li>
                                <li> 2004: Suspect is homeless/transient</li>
                                <li> 2005: Suspect uses wheelchair</li>
                                <li> 2006: Suspect was transgender</li>
                                <li> 2007: Suspect was homosexual/gay</li>
                                <li> 2008: In possession of a Ballistic vest</li>
                                <li> 2009: Suspect was Inmate/Incarcerated</li>
                                <li> 2010: Suspect was Jailer/Police Officer</li>
                                <li> 2011: Vendor (street or sidewalk)</li>
                                <li> 2012: costumed character (e.g., Barney, Darth Vader, Spiderman, etc.)</li>
                                <li> 2013: Tour Bus/Van Operator</li>
                                <li> 2014: Suspect was Uber/Lyft driver</li>
                                <li> 2015: Suspect was Foster child</li>
                                <li> 9999: Indistinctive MO</li>
                            </ul>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12 text-center">       
                    <h2>Project 3</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <ul>
                    <li>Ben Fraund</li>
                    <li>Dimas Soeprapto</li>
                    <li>Jason Wu</li>
                  </ul>
                </div>
            </div>

        </div>
</div>
{% endblock %}
